name: ${COMPOSE_PROJECT_NAME}

services:
  ubuntu:
    # container_name: ${USER}-${PWD}-container  # comment to fallback to default naming: <project>_<service>_<index>
    image: dgx-ubuntu  # comment to fallback to default naming: <project>_<service>
    build:
      context: .
      args:
        UID: ${HOST_UID}
        GID: ${HOST_GID}
        USERNAME: "${CONTAINER_USER}"
    networks: [alumnos]

    volumes:
      - ${HOST_VOLUME_PATH}:/mnt/workdata
      - ./utils/:/mnt/utils

    environment:
      - USER=${CONTAINER_USER}
      - CONTAINER_USER=${CONTAINER_USER}

      - UV_CACHE_DIR=/mnt/workdata/${UV_CACHE_SUBDIR}
      - UV_LINK_MODE=hardlink

      - PERSISTENT_UV_CACHE=${PERSISTENT_UV_CACHE}  # ??

      # cleanup cache everytime a 
      # - PERSISTENT_CACHE=true
      - CACHE_CLEANUP_TIME=3600

      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - DISPLAY_INFO_AT_STARTUP=true

    user: "root"

    command:
      - bash
      - -lc
      - |
          set -Eeuo pipefail

          echo ---
          date

          HOME="/home/$$CONTAINER_USER"
          mkdir -p $$HOME
          chown -R "${HOST_UID}:${HOST_GID}" $$HOME || true
          chmod 755 $$HOME || true


          # SET UP UTILS VOLUME

          rm -f $$HOME/.bashrc
          cp /mnt/utils/system/.bashrc $$HOME/.bashrc
          cp /mnt/utils/system/bash.bashrc /etc/bash.bashrc

          rm -rf $$HOME/.config
          mkdir -p $$HOME/.config
          cp -a /mnt/utils/.config/. $$HOME/.config/


          # SET UP WORKDATA VOLUME

          mkdir -p \
            /mnt/workdata/${DATA_SUBDIR} \
            /mnt/workdata/${UV_CACHE_SUBDIR} \
            /mnt/workdata/${SSH_SUBDIR}

          rm -rf $$HOME/data
          ln -sfn /mnt/workdata/${DATA_SUBDIR} $$HOME/data

          mkdir -p $$HOME/.cache
          rm -rf $$HOME/.cache/uv
          # ln -sfn /mnt/workdata/${UV_CACHE_SUBDIR} $$HOME/.cache/uv

          rm -rf $$HOME/.ssh
          ln -sfn /mnt/workdata/${SSH_SUBDIR} $$HOME/.ssh

          chown -R ${HOST_UID}:${HOST_GID} /mnt/workdata || true
          chown -R ${HOST_UID}:${HOST_GID} $$HOME || true

          chmod 700 /mnt/workdata/${SSH_SUBDIR}
          chmod 600 /mnt/workdata/${SSH_SUBDIR}/* 2>/dev/null || true


          # SET UP UV
          su - "${CONTAINER_USER}" -s /bin/bash -c '
            set -Eeuo pipefail
            # Force correct HOME even if something preserves environment incorrectly
            export HOME="/home/'"${CONTAINER_USER}"'"
            export USER="'"${CONTAINER_USER}"'"
            export PATH="$HOME/.local/bin:$PATH"
            # Make sure the file exists (better error)
            test -f "$$HOME/.config/uv/install.sh"
            echo "$$HOME/.config/uv/install.sh"
            source "$$HOME/.config/uv/install.sh"
            uv tool install ruff --force
            uv tool install ty --force
            uv tool install black --force
            uv tool install pytest --force
            uv tool install "dvc[ssh,s3]" --force
          '


          echo "uv setup done"


          # SET UP CLEANUP CACHE TIMER


          # systemd-run --user --unit=myjob --replace your_command

          echo "done"

          exec su -s /bin/bash ${CONTAINER_USER} -c "sleep infinity"

          # exec sleep infinity

networks:
  alumnos:
    external: true