services:
  ubuntu:
    container_name: ${USER}-session
    build:
      context: .
      args:
        UID: ${HOST_UID}
        GID: ${HOST_GID}
        USERNAME: ${CONTAINER_USER}
    networks: [alumnos]

    volumes:
      - ${HOST_VOLUME_PATH}:/mnt/workdata

    environment:
      # uv should use the absolute cache dir
      - USER=${CONTAINER_USER}
      - UV_CACHE_DIR=/mnt/workdata/${UV_CACHE_SUBDIR}
      - UV_LINK_MODE=hardlink
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
      - DISPLAY_INFO_AT_STARTUP=true

    user: "root"

    command:
      - bash
      - -lc
      - |
          set -euo pipefail

          mkdir -p \
            /mnt/workdata/${DATA_SUBDIR} \
            /mnt/workdata/${UV_CACHE_SUBDIR} \
            /mnt/workdata/${SSH_SUBDIR}

          rm -rf /home/${CONTAINER_USER}/data
          ln -sfn /mnt/workdata/${DATA_SUBDIR} /home/${CONTAINER_USER}/data

          mkdir -p /home/${CONTAINER_USER}/.cache
          rm -rf /home/${CONTAINER_USER}/.cache/uv
          # ln -sfn /mnt/workdata/${UV_CACHE_SUBDIR} /home/${CONTAINER_USER}/.cache/uv

          rm -rf /home/${CONTAINER_USER}/.ssh
          ln -sfn /mnt/workdata/${SSH_SUBDIR} /home/${CONTAINER_USER}/.ssh

          chown -R ${HOST_UID}:${HOST_GID} /mnt/workdata || true
          chown -R ${HOST_UID}:${HOST_GID} /home/${CONTAINER_USER} || true

          chmod 700 /mnt/workdata/${SSH_SUBDIR}
          chmod 600 /mnt/workdata/${SSH_SUBDIR}/* 2>/dev/null || true

          exec su -s /bin/bash ${CONTAINER_USER} -c "sleep infinity"

networks:
  alumnos:
    external: true